*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color:  #2d2926;
}
body{
  background-color: #1c1a1f;
}
.App {
  text-align: center; 
}
.flex{
  display:flex;
  flex-direction: column; 
}
.flex.row{
  flex-direction: row;
}
.container{
    /* background-color: seashell; */
    /* border-radius: 15px; */
    padding-top: 5em;
    overflow: hidden;
    border-bottom: solid 3px black;
    min-height: 100vh;
    display: flex;
}
.fixed{
  position: fixed;
  width: 100%;
}
.stack .image{

  width: 100%;
  height: 20em;
}

button{
  border: 3px solid #cf4f9d;
  background-color: transparent;
  color:#cf4f9d;
  font-weight: 500;
  font-size: 1.2em;
}
.scroller{
  position: fixed;
  top: 90vh;
  font-family: 'Londrina Outline', cursive;
  font-size: 1.5rem;
  transform: rotate(-90deg)
}
.scroller span{
  font-family: 'Londrina Outline', cursive;
  font-size: 2rem;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.ParallaxContainer {
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}
.ParallaxContainer-mid {
  z-index: -1;
  transform: translateZ(-0.66px) scale(1.666);
}
.ParallaxContainer-close{
  z-index: -1;
  transform: translateZ(-0.33px) scale(1.333);
}
.App-link {
  color: #61dafb;
}
.pixel{
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
