.scroll-body{

}
.bg-image{
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    position: fixed;
    left: 20%;
    z-index: -10;
    background-image: url('/images/pancakes.gif');
    background-size: contain;
}